
.container_char_card {
    background-color: $whiteColor;
    height: 800px;
    padding: 50px 300px;
}

.descr_wrap {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.descr_first_half {
    margin-right: 100px;
}

.spec_wrap {
    display: flex;
    justify-content: space-between;
}



.relative {
    position: relative;

    img {
        position: absolute;
        bottom: 80px
    }
}

.type {
    padding: 5px;
    background-color: rgb(59, 209, 214);
    color: $whiteColor;
    text-transform: uppercase;
    position: absolute;
    bottom: 343px;
}
