h1 {
    color: $whiteColor;
}

.main_wrap {
    background-color: $blackColor;
}

.main_section {
    //height: 1000px;
    padding: 50px 50px 40px 100px;
    margin: 0 auto;
}

.card_section {
    //padding: 50px 200px 40px 200px;
    display: flex;
    flex-wrap: wrap;
    //margin: 0 auto;
}

.card_element {
    flex-basis: calc((100% / 5) - 60px);
    margin: 10px;
    overflow: hidden;
    //word-wrap: break-word; 

        .img {
            width: 150px;
            height: 150px;
            object-fit: contain;
        }

        a {
            text-decoration: none;
        }
}


.series_name_style {
    width: 150px;
    font-family: $seriesFont;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: $whiteColor;
    
}

.jumbotron {
    height: 400px;
    width: 100%;
    background-image: url('/images/jumbotron.jpg');
    background-size: cover;
}

.banner {
    height: 60px;
    background-color: $dcLogoColor;
}



