footer {

    h3 {
        color: $whiteColor;
        text-transform: uppercase;
        font-family: $listItemsFont;
        margin-top: 20px;
    }

    .ul_wrap {
        display: flex;
        justify-content: flex-start;
    }

    ul {
        list-style: none;
        text-decoration-style: none;
        font-family: $listItemsFont;
        font-size: 10px;
    
    }

    li {
        text-decoration: none;
        color: $whiteColor;
        line-height: 20px;
        word-spacing: 7px;

        &:hover {
            color : $dcLogoColor;
        }
    }

    .upper_footer_wrap {
        background-image: url('/images/footer-bg.jpg');
        padding: 0px 0px 0 200px;
        display: flex;
        height: 400px;

        .items_wrap {
            display: flex;

            .items_box {
                margin-right: 20px;
                
                h3 {
                    font-family: $comicBoxFont;
                    margin: 30px 0 20px 0;
                }
            }
        }
    }

    .downer_footer_wrap {
        display: flex;
        justify-content: space-between;
        background-color: $downerFooterBg;
        height: 80px;
        padding: 20px 100px 20px 100px;

        p {
            color: $dcLogoColor;
        }
    }

    .media_logo_section {

        display: flex;
        align-items: center;
        img {
            padding-left: 15px;
        }

        p {
            display: inline-block;
            text-transform: uppercase;
        }
    }

    .flex_list {
        display: flex;
        justify-content: flex-start;
        
        div { 
            padding-right: 50px; 
            text-align: left;
        }

        h2 {
            color: $whiteColor;
            margin-bottom: 20px;
            padding-top: 40px;
        }
    }

    .overflow_bg {
        overflow: hidden;
    }

     .dc_logo_bg {
            height: 450px;
            width: 450px;
            margin-top: -40px;
        }


    .btn_footer {
      border-color: $dcLogoColor;
      color: $whiteColor;
      background-color: transparent;
      padding: 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      line-height: 4px;
      text-transform: uppercase;
      font-family: 'Staatliches';
    }
}